.comments{
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
}

.comments img{
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
}

.commentsContent{
    background: var(--purple-700);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 0.2rem;
 }

.commentsContent p{
    margin-top: 1rem;
    color: var(--gray-300);
}

.commentsBox{
flex: 1;
}










