.comments{
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
}

.comments img{
    width: 7rem;
    height: 8rem;
    border-radius: 8px;
}
.academico img{
    width: 5rem;
   height: 5rem;
    border-radius: 8px;
    display: flex;
}
.habilidades img{
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
}

.commentsContent{
    background: var(--purple-700);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 0.2rem;
 }

.commentsContent p{
    margin-top: 1rem;
    color: var(--gray-300);
}

.commentsBox{
flex: 1;
}

.habilidades{
    /*width: 5rem;
    height: 5rem;
    border-radius: 8px;  
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex: 3;
    align-items: left;
    justify-content: left; */
    flex: 1;
    display: flex;  
    margin-top: 1rem;
    gap: 3rem;
}

.academico{
    /*
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;   */
    flex: 1;
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
    box-sizing: border-box;
}

/*.escolaridade	{
    width: 100%;
    margin-top: 0.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--gray-400);
    font-size: 18px; 
    display: flex; 
}

.escolaridade strong{
    line-height: 1;
    color: var(--gray-100);
}*/

/*.skills	{
width: 100%;
margin-top: 0.5rem;
padding-top: 1rem;
border-top: 1px solid var(--gray-400);
font-size: 18px; 
}

.skills strong{
    line-height: 1;
    color: var(--gray-100);
}*/

/*.lista	{
background: var(--purple-700);
border-radius: 8px;
padding: 1rem;
margin-top: 0.1rem;
}
.cursos	{
    background: var(--purple-700);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 0.2rem;  
}*/