.footer{
    background-color: var(--purple-900);
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: var(--lilas-400);
    width: 80rem;
    border-radius: 8px;
    align-items: center;
    border: 3px solid var(--purple-700);
}