.header{
    background-color: var(--purple-900);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    height: 80px;
    align-items: center;
    color: var(--lilas-400);

}

.header img{
    height: 3rem;

}
.header strong{
padding: 6px;
}