.sidebar{
    background: var(--lilas-400);
    border-radius: 8px;
    }

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile strong{
    margin-top: 0rem;
    color: var(--gray-900);
    line-height: 1.6;
    font-size: 30px;

}
.avatar{
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    border: 3px solid var(var(--purple-800));
    outline: 4px solid var(--purple-800);
}
.profile span{
    font-size: 0.875rem;
    color: var(--purple-700);
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 17px;
}

.sidebar footer a{
    background-color: transparent;
    color: var(--purple-900);
    border: 3px solid var(--purple-800);
    border-radius: 8px;
    height: 50px;
    width: 110%;
    padding: 0 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    gap:2px;
    margin-bottom: 2px;
}

.sidebar footer img{
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
}

.sidebar footer a:hover{
    background-color: var(--purple-800);
    color: var(--white);
    border-radius: 3px solid var(--purple-800);
}